<h1>Contact us</h1>

<div class="row">
	<div class="col-sm-4">
		<div class="card">
			<div class="card-block">
			<h4 class="card-title">Zen Restaurant</h4>
			<ul>
				<li><strong>Vincom B Tower</strong></li>
				<li>26 Ly Tu Trong</li>
				<li>Tel: +84123456789</li>
				<li>Email: contact@zen.vn</li>
			</ul>
			</div>
		</div>
	</div>
	<div class="col-sm-8">
		<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3919.431217930412!2d106.69946391465278!3d10.778247762107688!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752f47d87887ab%3A0x7f406e1f2abd3c53!2zVmluY29tIEIsIEzDqiBUaMOhbmggVMO0biwgQuG6v24gTmdow6ksIFF14bqtbiAxLCBI4buTIENow60gTWluaCwgVmlldG5hbQ!5e0!3m2!1sen!2s!4v1487265997335" width="100%" height="450" frameborder="0" style="border:0" ></iframe>
	</div>
</div>
