// Custom bootstrap variables must be set or imported *before* bootstrap.
@import "bootstrap";
@import "font-awesome";

.product-item {
	display: block;
	padding: 8px 0;
	border: 1px solid transparent;
	position: relative;
	margin-bottom: 30px;
}
.product-item .tag-img img {
	max-width: 100%}
.product-item .image {
	display: block;
	position: relative;
	text-align: center;
	background: #fff;
	height: 240px;
	white-space: nowrap;
}
.product-item .image:before {
	content: '';
	display: inline-block;
	vertical-align: middle;
	width: 0;
	height: 100%}

.product-item .image img {
	border: none;
	position: relative;
	width: 100%;
	max-width: 320px;
}

.product-item .title {
	display: block;
	font-size: 22px;
	color: #000;
	text-overflow: ellipsis;
	overflow: hidden;
	position: relative;
	text-align: left;
	margin: 8px auto 0;
	height: 36px;
	line-height: 18px;
}
.product-item .title img {
	max-height: 20px;
}
.product-item p {
	padding: 5px 0 0;
	color: #777;
	font-size: 16px;
	text-align: left;
	margin: 0;
}

.product-item .rating, .product-item .review {
	font-size: 12px;
	display: inline-block;
	padding: 5px 0 0;
}
.product-item .review {
	text-align: left;
}
.product-item .rating .rating-content {
	font-size: 0;
	line-height: 1;
	position: relative;
	white-space: nowrap;
	display: inline-block;
}
.product-item .rating .rating-content .star {
	font-family: FontAwesome;
	font-weight: 400;
	font-style: normal;
	display: inline-block;
	margin: .1rem;
	color: #dedddc;
	font-size: 13px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.product-item .rating .rating-content .star:nth-child(1) {
	margin-left: 0;
}
.product-item .rating .rating-content .star:before {
	content: "\f005"}
.product-item .rating .rating-content span {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	overflow: hidden;
	line-height: 1;
}
.product-item .rating .rating-content span .star {
	color: #f0c808;
}
.price-sale {
	font-size: 14px;
	color: #444;
	font-weight: 700;
	padding: 5px 0 0;
	text-align: left;
}
.price-sale .price-regular {
	font-size: 11px;
	color: #999;
	text-decoration: line-through;
	display: block;
	text-align: left;
	padding-top: 5px;
}

.price-sale-box {
	border: 1px solid #0050a1;
	color: #000!important;
	font-weight: 700;
	margin-top: 5px;
	padding-bottom: 5px!important;
	padding-top: 0!important;
	text-align: center!important;
}
.price-sale-box label {
	background-color: #0050a1;
	color: #fff;
	display: block;
	font-size: 10px;
	font-weight: 400;
	margin-bottom: 5px;
	padding: 5px 7px;
	position: relative;
}
.price-sale-box label:before {
	content: ' ';
	border-top: 5px solid transparent;
	border-left: 5px solid #0050A1;
	border-bottom: 5px solid transparent;
	display: none;
	margin-top: -5px;
	right: -5px;
	position: absolute;
	top: 50%}
.price-tag-sale-box .tag-label, .price-tag-sale-box .tag-price {
	display: inherit;
	font-weight: 400;
	font-style: italic;
}
.price-tag-sale-box {
	margin-top: 3px;
}
.price-tag-sale-box .tag-label {
	margin-bottom: 2px;
}
.price-tag-sale-box .tag-price span {
	color: #444;
	font-weight: 700;
}
.price-tag-sale-box .red {
	color: #e82b2b!important;
}
.sale-tag-square {
	background-color: #ff9601;
	color: #fff;
	display: inline-block;
	font-size: 12px;
	font-weight: 400;
	margin-left: 5px;
	margin-top: -2px;
	padding: 5px;
	vertical-align: middle;
}
.product-item .other {
	padding: 5px 0 0;
	text-align: left;
	font-size: 12px;
	color: #00b7f1;
	font-weight: 700;
}
.product-item .other.green {
	color: green;
}
.product-item .other.red {
	color: red;
}
.product-item .add-to-cart {
	font-size: 13px;
	padding: 5px;
	outline-color: #ccc;
	margin: 5px auto 0;
	width: 100%;
	display: block;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-ms-border-radius: 3px;
	-o-border-radius: 3px;
	border-radius: 3px;
}
.product-item .add-to-cart img {
	display: inline-block;
	margin-right: 4px;
}
.product-item:hover {
	border: 1px solid #ccc;
	-webkit-box-shadow: 0 0 2px #ccc;
	box-shadow: 0 0 2px #ccc;
}
.product-item .add-to-cart {
	visibility: hidden;
}
.product-item:hover .add-to-cart {
	visibility: visible;
}

.product-item>div>a {
	display: block;
	width: 100%}

.product-item>div>a:hover {
	color: #00b7f1;
	text-decoration: none;
}




.bg {
  background: image-url('zen-stones-and-bamboo.jpg') no-repeat center center;
  position: fixed;
  width: 100%;
  height: 70%; /*same height as jumbotron */
  top:0;
  left:0;
  z-index: -1;
}

.jumbotron {
  margin-bottom: 0px;
  height: 70%;
  color: white;
  text-shadow: black 0.3em 0.3em 0.3em;
  background:transparent;
}